{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "overrides": [
    {
      "files": ["*.tsx", "*.jsx", "*.json", "*.html", "*.css", "*.scss"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
